/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #808080;
  font-size: 16px;
}

/* UTILITIES */

/* Layout */
.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.w-50 {
  width: 50%;
}

.col-2 {
  float: left;
  width: calc(100% / 2);
}

.col-3 {
  float: left;
  width: calc(100% / 3);
}

/* Menu */
.list-inline li {
  display: inline-block;
  padding: 0 10px;
}
.list-inline li:first-child {
    padding-left: 0;
}
.list-inline li:last-child {
    padding-right: 0;
}

/* Tipography */
a {
  color: #5586bc;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Button */
.btn {
  display: inline-block;
  min-width: 100px;
  line-height: 25px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  background: #7cbb02;
}

.btn-inherit {
    background: inherit;
    border: 1px solid #fff;
}

/* HEADER */
.main-header {
  height: 500px;
  background: #0c325a;
}

.header-nav {
  line-height: 80px;
  text-transform: uppercase;
  font-size: 12px;
}

.header-nav img {
  vertical-align: middle;
}


.header-nav a {
    text-decoration: none;
    color: #fff;
}

.header-nav-left {
  width: 15%;
}

.header-nav-center {
  width: 45%;
}

.header-nav-right {
  width: 40%;
}

/* Jumbotron */
.jumbotron {
  height: 400px;
  background: violet;
}

/* MAIN */

/* Efficiency */
.efficiency {
  height: 200px;
  background: grey;
}

/* Info */
.info .col-3 {
  height: 400px;
  background: violet;
  border: 5px solid black;
}

/* Plan */
.col {
  height: 400px;
  background: violet;
  border: 5px solid black;
}

/* FOOTER */
footer {
  height: 300px;
  background: grey;
}

footer .col-2 {
  height: 300px;
  background: violet;
  border: 5px solid black;
}
